<div class="row">
    <div class="col-sm-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-resposive" />
    </div>

    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>

    <div class="col-sm-12">
        <div class="dropdown" appDropdown #r="appDropDown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="{ show: r.isOpen }">
                <a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">To shoping</a
        >
        <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
                <a class="dropdown-item">Delete Recipe</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        {{ recipe.description }}
    </div>

    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item d-flex" *ngFor="let ingredient of recipe.ingredients">
                <div>
                    {{ ingredient.name }}
                </div>
                <div class="ml-auto">({{ ingredient.amount }})</div>
            </li>
        </ul>
    </div>
</div>
