<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="media border p-3 bg-info rounded" *ngFor="let recipe of Recipes">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ recipe.name }}</h5>
                {{ recipe.description }}
            </div>
            <img src="{{ recipe.imagePath }}" class="ml-3 img-responsiv rounded" alt="..." style="max-height: 80px;" />
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>